@{
    ViewData["Title"] = "Home Page";
    var resultado = TempData["Resultado"];
}
@model ConversorDolar.Models.Conversor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversor de Real para Dólar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="converter">
        <form asp-controller="Home" asp-action="ProcessForm" method="post">
        <h2>Conversor de Real para Dólar</h2>
        <label for="real">Valor em Real (R$):</label>
            <input asp-for="FormData"type="number" placeholder="Digite o valor em Real" min="0" step="0.01"/>
        <button type="submit">Converter</button>

        <h3>Resultado:@resultado</h3>
        </form>
    </div>

</body>
</html>
