<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet"></link>
<div>
    <header class="header">
        <h1>Histórico</h1>
        <nav>
            <a href="Home">Voltar</a>
        </nav>
        <hr />
    </header>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Data</th>
                <th>Moeda atual</th>
                <th>Moeda desejada</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
            <!-- Adicione mais linhas conforme necessário -->
        </tbody>
    </table>
</div>
