header {
    padding: 15px;
    margin-top:10px;
    margin-left:5px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    color: black;

}
    /* Estilos para os links */
header a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

body {
    background-image: radial-gradient(circle at 98.34% 90.56%, #ffffff 0, #ffffff 7.14%, #ffffff 14.29%, #ffffff 21.43%, #fffffd 28.57%, #fffff9 35.71%, #fffff2 42.86%, #edfde9 50%, #deebdf 57.14%, #d2dbd5 64.29%, #cacdcc 71.43%, #c4c2c3 78.57%, #c1babc 85.71%, #beb4b6 92.86%, #bdb2b2 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter {
    text-align: center;
    padding: 20px;
    border-radius: 5px;

}

.select{
    align-items:center;
    border-radius:5px;
    grid:auto;
    width: 225px;
    margin-bottom: 20px;
    height:30px;
}

input[type="number"],
button {
    border-radius:5px;
    padding: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #46BF3A;
    border-radius: 5px;
    width: 150px;
}

#resultado {
    font-weight: bold;
}
